@import 'src/assets/scss/theme.scss';
@include mat-core();

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.wrapper {
    display: flex;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    height: 100%;

    justify-content: center;
    flex-flow: column;
    align-items: center;

    background: linear-gradient(to right, $primary , mat-color(mat-palette($mat-pink)));

    .brand-container {
        color: #fff;
        margin-bottom: 15px;

        .brand {
            display: flex;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;

            align-items: center;
            font-size: xx-large;

            * {
                margin: 1px;
            }
        }
    }

    .container {
        display: flex;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;

        max-width: 100%;
        text-align: center;
        justify-content: center;

        .title-container {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            margin-bottom: 45px;
            margin-top: 20px;

            mat-icon {
                padding-right: 45px;
                transform: scale(1);
                color: mat-color(mat-palette($mat-grey, 300));
            }
        }

        .mat-form-field {
            width: 250px;
            max-width: 420px;
        }
    }

    .footer{
        text-align: center;
        font-size: small;

        * {
            color: #fff;
        }
    }
}

/* Misc */
