<div class="main-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z8">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <a routerLink="/" style="color: inherit;"><h1 class="app-name">{{title}}</h1></a>
        <div class="spacer"></div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container"
                            [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <a mat-list-item routerLink="/" class="item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <ng-container><mat-icon class="nav-icon material-icons-outlined">home_outline</mat-icon> Home</ng-container>
            </a>
            <a mat-list-item routerLink="/cdn" class="item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <ng-container><mat-icon class="nav-icon material-icons-outlined">cloud</mat-icon> CDN</ng-container>
            </a>
            <a mat-list-item routerLink="/file" class="item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <ng-container><mat-icon class="nav-icon material-icons-outlined">folder_shared</mat-icon> Files</ng-container>
            </a>
            <a mat-list-item routerLink="/iam" class="item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <ng-container><mat-icon class="nav-icon material-icons-outlined">supervised_user_circle</mat-icon> IAM</ng-container>
            </a>
            <a mat-list-item routerLink="/settings" class="item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <ng-container><mat-icon class="nav-icon material-icons-outlined">settings</mat-icon> Settings</ng-container>
            </a>
        </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>